.container{
    text-align: center;
    margin-top: 63px;
}

.container h1{
    font-size: 56px;
}

table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 2px solid black;
    border-radius: 8%;
    width: 410px;
    height: 48px;
}

button{
    font-size: 35px;
    background-color: ghostwhite;
    width: 94px;
    height: 72px;
    margin: 5px;
    border-radius: 25%;
}

.calculator{
    display: inline-block;
    background-color: black;
    padding: 32px;
}

button:hover{
    color: white;
    background-color: blue;
}